

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f5f5f5;
}

.app {
    width: 100vw; height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.app .side-bar {
    width: 90px; height: 100vh;
    background-color: #0b5a69;
    position: absolute; left: 0; top: 0;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.app .side-bar img {
    width: 36px;
    height: 40px;
}

.app .side-bar .side-btns {
    width: 100%;
    color: rgba(255, 255, 255, 0.562);
    font-size: 23px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.app .side-bar .side-btns #checked {
    color: white;
    cursor: auto;
}

.app .side-bar .side-btns ion-icon {
    cursor: pointer;
}

.app .side-bar .side-btns ion-icon:hover {
    color: white;
}

.app .side-bar .side-btns .hovered {
    width: 4px; height: 30px;
    border-radius: 5px;
    background-color: #5eab89;
    position: absolute; left: 0px; top: 0px;
}

.app .right-side {
    width: calc(100% - 90px); height: 100vh;
    background-color: whitesmoke;
    position: absolute; right: 0px; top: 0;
}

.app .top-bar {
    width: 100%; height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}

.app .top-bar .back {
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.app .top-bar .data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.app .top-bar .data img {
    border-radius: 50%;
}

.app .top-bar .data #theme {
    padding: 10px;
    opacity: 0.6;
    font-size: 23px;
    border-radius: 50%;
    cursor: pointer;
}

.app .page.dark, .app .top-bar.dark {
    background-color: #23272f;
    color: #ffffff;
}
.app .side-bar.dark, .app .user-changes.dark, .app .userInfo.dark, .app .cards.dark, .app .testReports.dark,.app .prescriptions.dark {
    background-color: #343a46 !important;
    color: white;
}

.app .top-bar .data #theme:hover {
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.342);
}

.app .top-bar .data .userData {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.app .top-bar .data .userData img {
    width: 30px;
    height: 30px;
}

.app .page {
    width: 100%; height: calc(100% - 60px);
    padding: 0 40px;
    padding-bottom: 60px;
    overflow-y: auto; overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.app .page .Page-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.app .page .Page-info .left-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.app .page .Page-info .left-data .user-changes {
    width: 350px;
    padding: 30px 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.app .page .Page-info .left-data .user-changes img {
    border-radius: 25px;
}

.app .page .Page-info .left-data .user-changes h6 {
    opacity: 0.6;
    font-size: 13px;
}

.app .page .Page-info .left-data .user-changes button {
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #44bc8e;
    cursor: pointer;
}

.app .page .Page-info .left-data .user-changes button:hover {
    background-color: #44bc8ead;
}

.app .page .Page-info .left-data .userInfo {
    width: 350px;
    padding: 20px 30px;
    padding-right: 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.app .page .Page-info .left-data .userInfo .Info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.app .page .Page-info .left-data .userInfo .Info h5 {
    opacity: 0.6;
    display: inline-block;
    margin-left: 20px;
    padding: 8px;
}

.app .page .Page-info .right-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.app .page .Page-info .right-data .healthData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.app .page .Page-info .right-data .healthData .cards {
    width: 250px;
    padding: 30px 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.app .page .Page-info .right-data .healthData .cards div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.app .page .Page-info .right-data .testReports {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.app .page .Page-info .right-data .testReports .reports {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.app .page .Page-info .right-data .testReports .reports .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app .page .Page-info .right-data .testReports .reports .frame ion-icon {
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}

.app .page .Page-info .right-data .testReports .reports .frame #first {
    color: #025267;
    background-color: #0253673d;
}

.app .page .Page-info .right-data .testReports .reports .frame #second {
    color: #f1a933;
    background-color: #f1a8332f;
}

.app .page .Page-info .right-data .testReports .reports .frame #third {
    color: #db6051;
    background-color: #db615133;
}

.app .page .Page-info .right-data .testReports .reports .frame div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
}

.app .page .Page-info .right-data .testReports .reports .frame div h5 {
    opacity: 0.6;
}

.app .page .Page-info .right-data .prescriptions {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.app .page .Page-info .right-data .prescriptions .addPrescription {
    width: 100%;
    padding: 17px 0;
    color: #44bc8e;
    border-radius: 10px;
    border: 2px dashed #44bc8e49;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
}

.app .page .Page-info .right-data .prescriptions .addPrescription:hover {
    color: white;
    background-color: #44bc8e
}

.app .page .Page-info .right-data .prescriptions .prescriptionsData {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .page .Page-info .right-data .prescriptions .prescriptionsData table,
.app .page .Page-info .right-data .prescriptions .prescriptionsData table tr {
    width: 100%;
}

.app .page .Page-info .right-data .prescriptions .prescriptionsData table tbody .name {
    margin: 15px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.app .page .Page-info .right-data .prescriptions .prescriptionsData table tbody .name ion-icon {
    padding: 11px;
    font-size: 22px;
    color: #f1a933;
    border-radius: 10px;
    background-color: #f1a8332f;
}

